Arithmetic operators

In [ ]:
Operator	Name	Example	
+	Addition	     x + y	
-	Subtraction	     x - y	
*	Multiplication	 x * y	
/	Division	     x / y	
%	Modulus	         x % y	  #returns the just float 
**	Exponentiation	 x ** y	
//	Floor division	 x // y  #returns the just integer

    ASSIGNMENT OPERATORS

In [ ]:
Operator	Example	      
=	x = 5	 x = 5	
+=	x += 3	 x = x + 3	
-=	x -= 3	 x = x - 3	
*=	x *= 3	 x = x * 3	
/=	x /= 3	 x = x / 3	
%=	x %= 3	 x = x % 3	
//=	x //= 3	 x = x // 3	
**=	x **= 3	 x = x ** 3

comparison operators

In [ ]:
Operator	Name	            Example	
==	Equal	                     x == y	
!=	Not equal	                 x != y	
>	Greater than	             x > y	
<	Less than	                 x < y	
>=	Greater than or equal to	 x >= y	
<=	Less than or equal to	     x <= y

logical operators

In [ ]:
Operator	Description	Example	
and 	#Returns True if both statements are true	               x < 5 and  x < 10	
or	#Returns True if one of the statements is true	               x < 5 or x < 4	
not	#Reverse the result, returns False if the result is true	not    (x < 5 and x < 10)

identity operators

In [ ]:
Operator	Description	Example
is 	#Returns True if both variables are the same object       	  x is y	
is not	#Returns True if both variables are not the same object	  x is not y

membership operators

In [ ]:
Operator	Description	Example	
in 	    #Returns True if a sequence with the specified value is present in the object	    x in y	
not in	#Returns True if a sequence with the specified value is not present in the object	x not in y